.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin-top: 50px;
  padding-right: 20px;
  width: 380px;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.form-wrapper form {
  padding: 10px 30px 50px 30px;
}

.form-wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-wrapper form .field input,
.form-wrapper form .field select {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.form-wrapper form .field select {

  appearance: none;
  background: white;
}

.field-post {
  height: 50px;
  width: 100%;
  margin-top: 40px;
  padding-left: 10px;
}

.field-post :hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  border-style:solid;
  border-width: 1px;
  border-color: orange;
}

.field-post input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.field-post input:focus {
  border-color:#4158d0
}

.form-wrapper form .field input:focus,
form .field input:valid {
  border-color: rgb(255, 211, 130);
}

.form-wrapper form .field label {
  position: relative;
  top: 7%;
  left: 20px;
  color: #383838;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
}

.fields {
  display: block;
  align-items: center;
}

form .field input:focus ~ label,
form .field select:focus ~ label,
form .field input:valid ~ label,
form .field select:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

form .registration-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form .registration-link a {
  color: #4158d0;
  text-decoration: none;
}

form .registration-link a:hover {
  text-decoration: underline;
}