.navbar {
  background-color: gray;
  color: black;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  margin: -8px;
  margin-bottom: 1px;
}

.nav-content {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-btn {
  padding: 5px 15px;
  margin-bottom: 1px;
  display: block;
  background-color: blanchedalmond;
  width: 100px;
  border: none;
}

.dropdown-btn:hover {
  cursor: pointer;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.dropdown-content {
  position: absolute;
  background-color: blanchedalmond;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.875);
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cart-btn :hover{
  cursor: pointer;
}

.cart-btn {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size:x-large;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  height: 19px;
  border: none;
  border-radius: 25px 0 0 25px;
}

.search-btn {
  height: 20px;
  border: none;
  cursor: pointer;
  font-size:small;
  border-radius: 0 25px 25px 0;
}