.prod-card {
  background-color: #fff8dd;
  border-radius: 10px;
  border: solid grey 1px;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 400px;
  margin: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img {
  padding: 10px;
  width: 90%;
  height: 200px;
  border-radius: 20px;
}

.card-content {
  padding: 20px;
}

.prod-name {
  cursor: pointer;
}